@font-face {
  font-family: 'Suisse-Regular';
  src: url(../fonts/SuisseIntl-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Suisse-Medium';
  src: url(../fonts/SuisseIntl-Medium.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Integral-Regular';
  src: url(../fonts/IntegralCF-Regular.woff2) format('woff2'),
    url(../fonts/IntegralCF-Regular.woff) format('woff');
  font-weight: normal;
}
