import React from 'react';

import { Container, Title } from './{{pascalCase name}}.styled';

interface Props {}

const {{pascalCase name}}: React.FC<Props> = (props: Props) => {
  return (
    <Container>
      <Title>{{pascalCase name}}</Title>
    </Container>
  );
};

export default {{pascalCase name}};
